main{
    width: 360px;
    height: 800px;
    background: linear-gradient(25deg, #62DD67 50%, #17391A 50%);
    margin: auto;
}

h1{
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    margin-left: 30px;
    padding-top: 106px;
}

h2{
    font-family: Roboto;
    font-weight: regular;
    font-size: 16px;
    color: #ffffff;
    margin-left: 30px;
    margin-top: 60px;
}

.contenedor-form{
    background-color: #F8F5F5;
    width: 300px;
    height: 300px;
    border-radius: 32px;
    margin:auto;
    margin-top: 55px;
}

form{
    padding-left: 30px;
    padding-top: 60px;
    padding-right: 30px;
}

label{
    font-size: 16px;
}

.contenedor-label{
    margin: 0;
}

form a{
    font-size: 12px;
    float: right;
    color: #62DD67;
}

input[type=text], input[type=password]{
    width: 100%;
    margin: 5px 0px 10px;
    border-style:none;
    padding: 0;
}